{% extends 'MvSearch/base.html' %}
{% block body %}
    <form method="POST" action="create">
        {% csrf_token %}
        <div class="form-inline">
            <label>JSON Path</label>
            <input type="text" name="jsonfile" size="12" class="form-control" required="required"/>
            <button class="btn btn-primary">Submit</button>
        </div>
    </form>
    <br /><br /><br />
    <form method="GET" action="search">
        <div class="form-inline">
            <input type="text" placeholder="Search" name="search" class="form-control" required="required" />
            <button class="btn btn-primary btn-sm"><span class="glyphicon glyphicon-search"></span> Search</button>
        </div>
    </form>
    <br />
    <table class="table table-bordered">
        <thead class="alert-danger">
            <tr>
                <th>MovieName</th>
                <th>IMDBscore</th>
                <th>99popularity</th>
                <th>Director</th>
                <th>Genre</th>
            </tr>
        </thead>
        <tbody>
            {% for member in members%}
            <tr>
                <td>{{ member.name }}</td>
                <td>{{ member.imdb_score }}</td>
                <td>{{ member.popularity99 }}</td>
                <td>{{ member.director }}</td>
                <td>{{ member.genre }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}